body {
  font-family: 'IBM Plex Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  color: #b99581;
  background: #043343;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

h1, h2 {
  margin: 0;
}

:root {
  --skintone-color: #DE9B72;
  --dark-color: #3A3D3E;
}

.main {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}